## Prepare - Trips Data

As the data is stored in a number of different .csv files, we do need to prepare the data before we can start process/clean it.
In this python worksheet, we aim to achieve the following:
1. Standarize the column names for all the sheets. 
2. Combine all the trip data into one .csv file.

In [1]:
# Installing required libraries and setting the panda's display options.
import numpy as np
import pandas as pd
import os
import gc
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_colwidth', 999)
pd.set_option('display.max_rows', 9999)

In [2]:
# We will begin by creating a pandas dataframe to store the file name, column names in a list and record numbers.
# This is just to look at the column names across files.
path = r"C:\Users\utsav\OneDrive\Documents\ML\Google Data Analytics Course\Course 8 - Capstone\Case Study 1\data\Unzipped\Combined\trips"
os.chdir(path)
df = pd.DataFrame(columns = ['file_name', 'col_names', 'num_records'])

In [3]:
files = 0

for file in os.listdir():
    file_path = f"{path}\{file}"
    with open(file_path, 'r') as f:
        print(f'File Number Opening: {files+1}')
        cols = f.readline()
        cols = cols[:-2]
        num_records = sum(1 for line in f) - 1
        cols_list = cols.split(',')
        df.at[files,'file_name'] = file
        df.at[files,'col_names'] = cols_list
        df.at[files,'num_records'] = num_records
        files += 1

File Number Opening: 1
File Number Opening: 2
File Number Opening: 3
File Number Opening: 4
File Number Opening: 5
File Number Opening: 6
File Number Opening: 7
File Number Opening: 8
File Number Opening: 9
File Number Opening: 10
File Number Opening: 11
File Number Opening: 12
File Number Opening: 13
File Number Opening: 14
File Number Opening: 15
File Number Opening: 16
File Number Opening: 17
File Number Opening: 18
File Number Opening: 19
File Number Opening: 20
File Number Opening: 21
File Number Opening: 22
File Number Opening: 23
File Number Opening: 24
File Number Opening: 25
File Number Opening: 26
File Number Opening: 27
File Number Opening: 28
File Number Opening: 29
File Number Opening: 30
File Number Opening: 31
File Number Opening: 32
File Number Opening: 33
File Number Opening: 34
File Number Opening: 35
File Number Opening: 36
File Number Opening: 37
File Number Opening: 38
File Number Opening: 39
File Number Opening: 40
File Number Opening: 41
File Number Opening: 42
File Number Opening: 43
File Number Opening: 44

In [4]:
df.sort_values(by = 'col_names')

,file_name,col_names,num_records
33,Divvy_Trips_2017_Q3.csv,"[""trip_id"", ""start_time"", ""end_time"", ""bikeid"", ""tripduration"", ""from_station_id"", ""from_station_name"", ""to_station_id"", ""to_station_name"", ""usertype"", ""gender"", ""birthyear]",1608269
32,Divvy_Trips_2017_Q2.csv,"[""trip_id"", ""start_time"", ""end_time"", ""bikeid"", ""tripduration"", ""from_station_id"", ""from_station_name"", ""to_station_id"", ""to_station_name"", ""usertype"", ""gender"", ""birthyear]",1119813
31,Divvy_Trips_2017_Q1.csv,"[""trip_id"", ""start_time"", ""end_time"", ""bikeid"", ""tripduration"", ""from_station_id"", ""from_station_name"", ""to_station_id"", ""to_station_name"", ""usertype"", ""gender"", ""birthyear]",431690
30,Divvy_Trips_2016_Q4.csv,"[""trip_id"", ""starttime"", ""stoptime"", ""bikeid"", ""tripduration"", ""from_station_id"", ""from_station_name"", ""to_station_id"", ""to_station_name"", ""usertype"", ""gender"", ""birthyear]",683831
29,Divvy_Trips_2016_Q3.csv,"[""trip_id"", ""starttime"", ""stoptime"", ""bikeid"", ""tripduration"", ""from_station_id"", ""from_station_name"", ""to_station_id"", ""to_station_name"", ""usertype"", ""gender"", ""birthyear]",1441810
40,Divvy_Trips_2019_Q2.csv,"[01 - Rental Details Rental ID, 01 - Rental Details Local Start Time, 01 - Rental Details Local End Time, 01 - Rental Details Bike ID, 01 - Rental Details Duration In Seconds Uncapped, 03 - Rental Start Station ID, 03 - Rental Start Station Name, 02 - Rental End Station ID, 02 - Rental End Station Name, User Type, Member Gender, 05 - Member Details Member Birthday Yea]",1108162
35,Divvy_Trips_2018_Q1.csv,"[01 - Rental Details Rental ID, 01 - Rental Details Local Start Time, 01 - Rental Details Local End Time, 01 - Rental Details Bike ID, 01 - Rental Details Duration In Seconds Uncapped, 03 - Rental Start Station ID, 03 - Rental Start Station Name, 02 - Rental End Station ID, 02 - Rental End Station Name, User Type, Member Gender, 05 - Member Details Member Birthday Yea]",387144
0,202004-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",84775
13,202105-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",531632
12,202104-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",337229
11,202103-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",228495
43,Divvy_Trips_2020_Q1.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",426886
9,202101-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",96833
10,202102-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",49621
5,202009-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",532957
4,202008-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",622360
3,202007-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",551479
2,202006-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",343004
6,202010-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",388652
7,202011-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",259715
1,202005-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",200273
8,202012-divvy-tripdata.csv,"[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]",131572
38,Divvy_Trips_2018_Q4.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",642685
42,Divvy_Trips_2019_Q4.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",704053
39,Divvy_Trips_2019_Q1.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",365068
34,Divvy_Trips_2017_Q4.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",669238
41,Divvy_Trips_2019_Q3.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",1640717
37,Divvy_Trips_2018_Q3.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",1513569
36,Divvy_Trips_2018_Q2.csv,"[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",1059680
14,Divvy_Trips_2013.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthda]",759787
27,Divvy_Trips_2016_06.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",477872
26,Divvy_Trips_2016_05.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",363318
25,Divvy_Trips_2016_04.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",231634
24,Divvy_Trips_2015_Q4.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",631364
23,Divvy_Trips_2015_09.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",427094
22,Divvy_Trips_2015_08.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",495028
20,Divvy_Trips_2015-Q2.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",893889
19,Divvy_Trips_2015-Q1.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",202348
18,Divvy_Trips_2014_Q1Q2.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",905698
17,Divvy_Trips_2014-Q4.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",437964
16,Divvy_Trips_2014-Q3-0809.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",700629
15,Divvy_Trips_2014-Q3-07.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",410339
28,Divvy_Trips_2016_Q1.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",396912
21,Divvy_Trips_2015_07.csv,"[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]",533710

In [5]:
# Let's review how many unique sets of column names are there.
df['col_names'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casua]                                                                                                                                                                                                           15
[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]                                                                                                                                                                                                                                   14
[trip_id, start_time, end_time, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthyea]                                                                                                                                                                                                                                   7
["trip_id", "start_time", "end_time", "bikeid", "tripduration", "from_station_id", "from_station_name", "to_station_id", "to_station_name", "usertype", "gender", "birthyear]                                                                                                                                                                                                           3
["trip_id", "starttime", "stoptime", "bikeid", "tripduration", "from_station_id", "from_station_name", "to_station_id", "to_station_name", "usertype", "gender", "birthyear]                                                                                                                                                                                                            2
[01 - Rental Details Rental ID, 01 - Rental Details Local Start Time, 01 - Rental Details Local End Time, 01 - Rental Details Bike ID, 01 - Rental Details Duration In Seconds Uncapped, 03 - Rental Start Station ID, 03 - Rental Start Station Name, 02 - Rental End Station ID, 02 - Rental End Station Name, User Type, Member Gender, 05 - Member Details Member Birthday Yea]     2
[trip_id, starttime, stoptime, bikeid, tripduration, from_station_id, from_station_name, to_station_id, to_station_name, usertype, gender, birthda]                                                                                                                                                                                                                                     1
Name: col_names, dtype: int64

In [6]:
del df
gc.collect()

40

In [7]:
'''
Our first task is to standerize the column names. 
We will use "202105-divvy-tripdata.csv" column names. However, because of large number of data points, we were not able
to open the same in the spreadsheets, like we did for station data. 
'''
files = 0
trip_list = []
for f in os.listdir():
    print(f'File Number Opening: {files+1}')
    trip_df = pd.read_csv(f, sep=',')
    trip_df['file'] = f.split('/')[-1]
    trip_list.append(trip_df)
    files += 1
    
trips_combined_data = pd.concat(trip_list, ignore_index=True, sort=True)

File Number Opening: 1
File Number Opening: 2
File Number Opening: 3
File Number Opening: 4
File Number Opening: 5
File Number Opening: 6
File Number Opening: 7
File Number Opening: 8
File Number Opening: 9
File Number Opening: 10
File Number Opening: 11
File Number Opening: 12
File Number Opening: 13
File Number Opening: 14
File Number Opening: 15
File Number Opening: 16
File Number Opening: 17
File Number Opening: 18
File Number Opening: 19
File Number Opening: 20
File Number Opening: 21
File Number Opening: 22
File Number Opening: 23
File Number Opening: 24
File Number Opening: 25
File Number Opening: 26
File Number Opening: 27
File Number Opening: 28
File Number Opening: 29
File Number Opening: 30
File Number Opening: 31
File Number Opening: 32
File Number Opening: 33
File Number Opening: 34
File Number Opening: 35
File Number Opening: 36
File Number Opening: 37
File Number Opening: 38
File Number Opening: 39
File Number Opening: 40
File Number Opening: 41
File Number Opening: 42
File Number Opening: 43
File Number Opening: 44

In [8]:
# List of unique names of columns in all the data sheets combined.
trips_combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26028842 entries, 0 to 26028841
Data columns (total 41 columns):
 #   Column                                            Dtype
---  ------                                            -----
 0   01 - Rental Details Bike ID                       float64
 1   01 - Rental Details Duration In Seconds Uncapped  object
 2   01 - Rental Details Local End Time                object
 3   01 - Rental Details Local Start Time              object
 4   01 - Rental Details Rental ID                     float64
 5   02 - Rental End Station ID                        float64
 6   02 - Rental End Station Name                      object
 7   03 - Rental Start Station ID                      float64
 8   03 - Rental Start Station Name                    object
 9   05 - Member Details Member Birthday Year          float64
 10  Member Gender                                     object
 11  User Type                                         object
 12  bikeid                                            float64
 13  birthday                                          float64
 14  birthyear                                         float64
 15  end_lat                                           float64
 16  end_lng                                           float64
 17  end_station_id                                    object
 18  end_station_name                                  object
 19  end_time                                          object
 20  ended_at                                          object
 21  file                                              object
 22  from_station_id                                   float64
 23  from_station_name                                 object
 24  gender                                            object
 25  member_casual                                     object
 26  ride_id                                           object
 27  rideable_type                                     object
 28  start_lat                                         float64
 29  start_lng                                         float64
 30  start_station_id                                  object
 31  start_station_name                                object
 32  start_time                                        object
 33  started_at                                        object
 34  starttime                                         object
 35  stoptime                                          object
 36  to_station_id                                     float64
 37  to_station_name                                   object
 38  trip_id                                           float64
 39  tripduration                                      object
 40  usertype                                          object
dtypes: float64(15), object(26)
memory usage: 8.0+ GB

In [9]:
# Creating a dictionary to link all the related column names to the startarized one.
columns_dict ={'ride_id': ['trip_id','01 - Rental Details Rental ID'],
              'started_at': ['01 - Rental Details Local Start Time','start_time','starttime'],
              'ended_at': ['01 - Rental Details Local End Time', 'stoptime','end_time'],
               'start_station_name': ['03 - Rental Start Station Name', 'from_station_name'],
               'start_station_id': ['03 - Rental Start Station ID','from_station_id'],
               'end_station_name': ['02 - Rental End Station Name', 'to_station_name'],
               'end_station_id': ['02 - Rental End Station ID','to_station_id'],
               'birthyear': ['05 - Member Details Member Birthday Year','birthday'],
               'bikeid': ['01 - Rental Details Bike ID'],
               'usertype': ['User Type', 'member_casual'],
               'gender' : ['Member Gender'],
               'tripduration' : ['01 - Rental Details Duration In Seconds Uncapped']           
              }

In [10]:
for key, value in columns_dict.items():
    for item in value:
        trips_combined_data[key].fillna(trips_combined_data[item], inplace = True)
        trips_combined_data.drop([item], axis = 1, inplace = True)
        gc.collect()
    print(key, trips_combined_data[key].isna().sum())

trips_combined_data.info()

ride_id 0
started_at 0
ended_at 0
start_station_name 201975
start_station_id 202601
end_station_name 229611
end_station_id 230072
birthyear 9652291
bikeid 4785498
usertype 0
gender 9680458
tripduration 4785498
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26028842 entries, 0 to 26028841
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   bikeid              float64
 1   birthyear           float64
 2   end_lat             float64
 3   end_lng             float64
 4   end_station_id      object
 5   end_station_name    object
 6   ended_at            object
 7   file                object
 8   gender              object
 9   ride_id             object
 10  rideable_type       object
 11  start_lat           float64
 12  start_lng           float64
 13  start_station_id    object
 14  start_station_name  object
 15  started_at          object
 16  tripduration        object
 17  usertype            object
dtypes: float64(6), object(12)
memory usage: 3.5+ GB

In [11]:
# After the above step, we are left with a much smaller and standerized columns names.
trips_combined_data.sample(25)

,bikeid,birthyear,end_lat,end_lng,end_station_id,end_station_name,ended_at,file,gender,ride_id,rideable_type,start_lat,start_lng,start_station_id,start_station_name,started_at,tripduration,usertype
20535860,5321.0,1995.0,NaN,NaN,227.0,Southport Ave & Waveland Ave,2018-08-21 16:49:46,Divvy_Trips_2018_Q3.csv,Male,20287472.0,NaN,NaN,NaN,307.0,Southport Ave & Clybourn Ave,2018-08-21 16:36:44,782.0,Subscriber
11445286,1450.0,NaN,NaN,NaN,76.0,Lake Shore Dr & Monroe St,6/25/2016 12:33,Divvy_Trips_2016_06.csv,NaN,10312807.0,NaN,NaN,NaN,35.0,Streeter Dr & Grand Ave,6/25/2016 12:18,922,Customer
18335614,5726.0,1988.0,NaN,NaN,134.0,Peoria St & Jackson Blvd,2018-02-16 22:11:17,Divvy_Trips_2018_Q1.csv,Male,17726226.0,NaN,NaN,NaN,342.0,Wolcott Ave & Polk St,2018-02-16 22:02:43,514.0,Subscriber
15118465,1298.0,1988.0,NaN,NaN,222.0,Milwaukee Ave & Rockwell St,6/10/2017 17:57:24,Divvy_Trips_2017_Q2.csv,Male,14464905.0,NaN,NaN,NaN,260.0,Kedzie Ave & Milwaukee Ave,6/10/2017 17:44:33,771,Subscriber
6015616,575.0,1980.0,NaN,NaN,62.0,McCormick Place,8/16/2014 19:04,Divvy_Trips_2014-Q3-0809.csv,Male,3162762.0,NaN,NaN,NaN,271.0,Cottage Grove Ave & 43rd St,8/16/2014 18:48,978,Subscriber
15975673,3376.0,NaN,NaN,NaN,177.0,Theater on the Lake,9/26/2017 14:20:34,Divvy_Trips_2017_Q3.csv,NaN,16647822.0,NaN,NaN,NaN,249.0,Montrose Harbor,9/26/2017 13:53:40,1614,Customer
9038148,2853.0,1992.0,NaN,NaN,176.0,Clark St & Elm St,7/10/2015 17:23,Divvy_Trips_2015_07.csv,Female,6153229.0,NaN,NaN,NaN,60.0,Dayton St & North Ave,7/10/2015 17:12,675,Subscriber
14897190,2015.0,1986.0,NaN,NaN,126.0,Clark St & North Ave,6/24/2017 11:58:02,Divvy_Trips_2017_Q2.csv,Female,14721924.0,NaN,NaN,NaN,198.0,Green St & Madison St,6/24/2017 11:35:44,1338,Subscriber
26015154,NaN,NaN,41.963300,-87.679300,316.0,Damen Ave & Sunnyside Ave,2020-03-27 17:21:01,Divvy_Trips_2020_Q1.csv,NaN,D18C0825899938F7,docked_bike,41.939400,-87.683300,664,Leavitt St & Belmont Ave (*),2020-03-27 17:04:53,NaN,casual
22894961,3945.0,1992.0,NaN,NaN,31.0,Franklin St & Chicago Ave,2019-06-08 10:22:02,Divvy_Trips_2019_Q2.csv,Female,23055410.0,NaN,NaN,NaN,115.0,Sheffield Ave & Wellington Ave,2019-06-08 10:03:17,"1,125.0",Subscriber
5792368,2082.0,NaN,NaN,NaN,268.0,Lake Shore Dr & North Blvd,9/5/2014 6:14,Divvy_Trips_2014-Q3-0809.csv,NaN,3455396.0,NaN,NaN,NaN,239.0,Western Ave & Leland Ave,9/5/2014 5:32,2534,Customer
12950921,1778.0,NaN,NaN,NaN,346.0,Ada St & Washington Blvd,8/13/2016 09:34:50,Divvy_Trips_2016_Q3.csv,NaN,11290671.0,NaN,NaN,NaN,56.0,Desplaines St & Kinzie St,8/13/2016 09:24:36,614,Customer
3729058,NaN,NaN,41.899368,-87.648480,KA1504000117,Halsted St & North Branch St,2021-04-30 19:00:35,202104-divvy-tripdata.csv,NaN,D934929B87B71B26,classic_bike,41.896747,-87.635668,13017,Franklin St & Chicago Ave,2021-04-30 18:53:45,NaN,member
18618669,4406.0,1999.0,NaN,NaN,195.0,Columbus Dr & Randolph St,2018-04-11 08:27:14,Divvy_Trips_2018_Q2.csv,Male,18062702.0,NaN,NaN,NaN,33.0,State St & Van Buren St,2018-04-11 08:21:08,366.0,Subscriber
7156629,206.0,NaN,NaN,NaN,196.0,Cityfront Plaza & N Water St,5/19/2014 17:14,Divvy_Trips_2014_Q1Q2.csv,NaN,1720899.0,NaN,NaN,NaN,196.0,Cityfront Plaza & N Water St,5/19/2014 16:43,1851,Customer
14729467,2513.0,1962.0,NaN,NaN,195.0,Columbus Dr & Randolph St,1/19/2017 08:32:01,Divvy_Trips_2017_Q1.csv,Male,13051158.0,NaN,NaN,NaN,91.0,Clinton St & Washington Blvd,1/19/2017 08:21:12,649,Subscriber
1386304,NaN,NaN,41.870769,-87.625734,321.0,Wabash Ave & 9th St,2020-08-12 10:08:10,202008-divvy-tripdata.csv,NaN,1A7D2EE41DB38C60,docked_bike,41.842052,-87.617000,237.0,MLK Jr Dr & 29th St,2020-08-12 09:28:20,NaN,casual
22824432,27.0,1973.0,NaN,NaN,126.0,Clark St & North Ave,2019-06-03 22:45:56,Divvy_Trips_2019_Q2.csv,Female,22973051.0,NaN,NaN,NaN,118.0,Sedgwick St & North Ave,2019-06-03 22:35:35,621.0,Subscriber
790901,NaN,NaN,41.921540,-87.653818,327.0,Sheffield Ave & Webster Ave,2020-07-13 16:40:35,202007-divvy-tripdata.csv,NaN,034B309B7508164A,docked_bike,41.931248,-87.644336,220.0,Clark St & Drummond Pl,2020-07-13 16:30:26,NaN,casual
24673900,5626.0,1996.0,NaN,NaN,350.0,Ashland Ave & Chicago Ave,2019-09-16 18:22:22,Divvy_Trips_2019_Q3.csv,Male,24991241.0,NaN,NaN,NaN,331.0,Halsted St & Clybourn Ave,2019-09-16 18:10:34,707.0,Subscriber
23752469,1701.0,1996.0,NaN,NaN,60.0,Dayton St & North Ave,2019-07-28 17:26:54,Divvy_Trips_2019_Q3.csv,Male,24025083.0,NaN,NaN,NaN,141.0,Clark St & Lincoln Ave,2019-07-28 17:13:19,814.0,Subscriber
10422240,832.0,1978.0,NaN,NaN,146.0,Loomis St & Jackson Blvd,11/2/2015 17:40,Divvy_Trips_2015_Q4.csv,Male,8158004.0,NaN,NaN,NaN,286.0,Franklin St & Quincy St,11/2/2015 17:26,847,Subscriber
9931137,821.0,1980.0,NaN,NaN,307.0,Southport Ave & Clybourn Ave,9/14/2015 18:01,Divvy_Trips_2015_09.csv,Male,7461440.0,NaN,NaN,NaN,84.0,Union Ave & Grand Ave,9/14/2015 17:48,803,Subscriber
3621484,NaN,NaN,41.884068,-87.648668,13053,Green St & Randolph St,2021-04-10 11:39:51,202104-divvy-tripdata.csv,NaN,1CF5BF26866D29DE,electric_bike,41.940135,-87.653009,TA1307000134,Wilton Ave & Belmont Ave,2021-04-10 11:12:23,NaN,casual
17552914,1198.0,1988.0,NaN,NaN,260.0,Kedzie Ave & Milwaukee Ave,12/16/2017 12:11,Divvy_Trips_2017_Q4.csv,Male,17484329.0,NaN,NaN,NaN,277.0,Ashland Ave & Grand Ave,12/16/2017 11:45,1583,Subscriber

In [12]:
# Due to combining the data from a multiple files, we would need to standerize the column contents as well.
# Though, we can do the same in the process part of our project, I chose to do the steps here, along with combining data and standerizing.
trips_combined_data['usertype'].value_counts()

Subscriber    15912140
Customer       5331014
member         2913125
casual         1872373
Dependent          190
Name: usertype, dtype: int64

In [13]:
trips_combined_data.loc[trips_combined_data['usertype'] == 'Subscriber','usertype'] = "member"
trips_combined_data.loc[trips_combined_data['usertype'] == 'Dependent','usertype'] = "member"
trips_combined_data.loc[trips_combined_data['usertype'] == 'Customer','usertype'] = "casual"
trips_combined_data['usertype'].value_counts()

member    18825455
casual     7203387
Name: usertype, dtype: int64

In [14]:
trips_combined_data.columns

Index(['bikeid', 'birthyear', 'end_lat', 'end_lng', 'end_station_id',
       'end_station_name', 'ended_at', 'file', 'gender', 'ride_id',
       'rideable_type', 'start_lat', 'start_lng', 'start_station_id',
       'start_station_name', 'started_at', 'tripduration', 'usertype'],
      dtype='object')

In [15]:
# Organinzing the data. 
cols = ['ride_id', 'started_at', 'start_station_id', 'start_station_name', 'start_lat', 'start_lng',
        'ended_at', 'end_station_id', 'end_station_name', 'end_lat', 'end_lng',
       'bikeid', 'birthyear',
        'usertype', 'tripduration', 'gender', 'rideable_type', 'file']
trips_combined_data = trips_combined_data[cols]
decimals = pd.Series([5, 5, 5, 5], index=['start_lat', 'start_lng','end_lat','end_lng'])
trips_combined_data = trips_combined_data.round(decimals)
trips_combined_data.sort_values(by = "started_at", inplace = True)

In [16]:
trips_combined_data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ride_id,26028842,26028572,9B4C1DCB313DE754,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
started_at,26028842,16427817,10/9/2017 17:16,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_station_id,25826241.0,1379.0,35.0,495133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_station_name,25826867,857,Streeter Dr & Grand Ave,373947,NaN,NaN,NaN,NaN,NaN,NaN,NaN
start_lat,4785498.0,NaN,NaN,NaN,41.903094,0.04355,41.64,41.88193,41.89859,41.92914,42.08
start_lng,4785498.0,NaN,NaN,NaN,-87.644731,0.025691,-87.87,-87.65879,-87.6411,-87.62773,-87.52
ended_at,26028842,16089405,7/3/2015 17:34,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_station_id,25798770.0,1379.0,35.0,566885.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_station_name,25799231,856,Streeter Dr & Grand Ave,419638,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_lat,4780040.0,NaN,NaN,NaN,41.903367,0.04365,41.54,41.8821,41.89897,41.92955,42.16
end_lng,4780040.0,NaN,NaN,NaN,-87.644996,0.025811,-88.07,-87.65897,-87.64165,-87.62775,-87.44
bikeid,21243344.0,NaN,NaN,NaN,2900.297144,1813.87814,1.0,1346.0,2705.0,4387.0,6946.0
birthyear,16376551.0,NaN,NaN,NaN,1981.429295,10.935897,1759.0,1976.0,1984.0,1989.0,2017.0
usertype,26028842,2,member,18825455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tripduration,21243344.0,59458.0,341.0,13934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,16348384,2,Male,12235831,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rideable_type,4785498,3,docked_bike,3053423,NaN,NaN,NaN,NaN,NaN,NaN,NaN
file,26028842,44,Divvy_Trips_2019_Q3.csv,1640718,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
trips_combined_data.sample(10)

,ride_id,started_at,start_station_id,start_station_name,start_lat,start_lng,ended_at,end_station_id,end_station_name,end_lat,end_lng,bikeid,birthyear,usertype,tripduration,gender,rideable_type,file
12698510,11590447.0,8/29/2016 16:54:25,75.0,Canal St & Jackson Blvd,NaN,NaN,8/29/2016 16:59:32,134.0,Peoria St & Jackson Blvd,NaN,NaN,5765.0,1990.0,member,307,Female,NaN,Divvy_Trips_2016_Q3.csv
7544870,1163339.0,2/5/2014 7:01,233.0,Sangamon St & Washington Blvd,NaN,NaN,2/5/2014 7:07,91.0,Clinton St & Washington Blvd,NaN,NaN,983.0,1974.0,member,319,Male,NaN,Divvy_Trips_2014_Q1Q2.csv
25102316,25436758.0,2019-10-15 22:53:02,327.0,Sheffield Ave & Webster Ave,NaN,NaN,2019-10-15 23:08:57,296.0,Broadway & Belmont Ave,NaN,NaN,5236.0,1990.0,member,955.0,Male,NaN,Divvy_Trips_2019_Q4.csv
19045119,18566040.0,2018-05-24 18:16:16,90.0,Millennium Park,NaN,NaN,2018-05-24 18:44:49,177.0,Theater on the Lake,NaN,NaN,5888.0,1992.0,member,"1,713.0",Female,NaN,Divvy_Trips_2018_Q2.csv
9631680,6692780.0,8/4/2015 18:23,76.0,Lake Shore Dr & Monroe St,NaN,NaN,8/4/2015 18:40,35.0,Streeter Dr & Illinois St,NaN,NaN,841.0,NaN,casual,1030,NaN,NaN,Divvy_Trips_2015_08.csv
20301355,20019239.0,2018-08-08 12:57:34,207.0,Emerald Ave & 28th St,NaN,NaN,2018-08-08 13:09:29,108.0,Halsted St & Polk St,NaN,NaN,2163.0,1989.0,member,715.0,Male,NaN,Divvy_Trips_2018_Q3.csv
25682662,D6A98FA94A4E934A,2020-01-15 07:51:56,462,Winchester (Ravenswood) Ave & Balmoral Ave,41.9798,-87.6775,2020-01-15 07:59:41,242.0,Damen Ave & Leland Ave,41.9671,-87.679,NaN,NaN,member,NaN,NaN,docked_bike,Divvy_Trips_2020_Q1.csv
7915322,5767437.0,6/21/2015 21:39,291.0,Wells St & Evergreen Ave,NaN,NaN,6/21/2015 21:51,74.0,Kingsbury St & Erie St,NaN,NaN,3642.0,1962.0,member,708,Male,NaN,Divvy_Trips_2015-Q2.csv
18237374,17607627.0,2018-01-20 18:43:44,110.0,Dearborn St & Erie St,NaN,NaN,2018-01-20 18:53:39,301.0,Clark St & Schiller St,NaN,NaN,5396.0,1953.0,member,595.0,Male,NaN,Divvy_Trips_2018_Q1.csv
4745512,191722.0,2013-08-10 06:46,66.0,Clinton St & Lake St,NaN,NaN,2013-08-10 06:56,99.0,Lake Shore Dr & Ohio St,NaN,NaN,778.0,1975.0,member,601,Male,NaN,Divvy_Trips_2013.csv

In [18]:
trips_combined_data.to_csv('combined_trips_data.csv')

In [19]:
del trips_combined_data
gc.collect()

20